[Unit]
Description=Main Loop für die Mediensteuerung

[Service]
ExecStart=/home/pi/raspi-media-control/control/server.py

[Install]
WantedBy=multi-user.target